<h1>Blogs</h1>

<%= link_to 'New Post', new_blog_path, class: "button-form" %>

<% @blogs.each do |blog| %>
  <h3><%= blog.title %></h4>
  <p><%= blog.content %></p>
  <p><%= blog.publisher %></p>
<% end %>
