.crypto-container {
    padding: 20px;
    background-color: black;
    color: #00FFB3;
  }
  
  .crypto-table {
    display: flex;
    flex-wrap: wrap;
  }
  
  .crypto-item {
    background-color: #333;
    padding: 10px;
    margin: 10px;
    border: 1px solid #00FFB3;
    border-radius: 5px;
    width: 200px;
    color: #00FFB3;
  }
  
  h2 {
    text-align: center;
    color: #00FFB3;
  }
  