.currency-container {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  padding-top: 120px;
}

.currencies-container {
  background-color: #f4f4f4;
  padding: 0 15%;
  padding-bottom: 10px
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(0, 255, 179);
  background-color: rgb(209, 209, 209);
  border-radius: 4px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; /* Center the table */
}

table td {
  width: 25%;
}

.divided-currency-container {
  padding: 100px;
}

.back-button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Add some space above the button */
  width: 100%;
}

.back-button {
  background-color: rgb(0, 255, 179);
  color: #151213 !important;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  width: 100%; /* Make it the same width as the container */
  text-align: center; /* Center the text inside the button */
}

.back-button a {
  color: #151213 !important;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .currencies-container {
    padding: 0 5%;
  }

  table td, table th {
    display: block;
    width: 100%;
  }

  tr {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center rows on mobile */
  }

  tr:hover {
    background-color: #151213; /* Keep row highlight consistent with background color */
  }
}