html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  background: #222;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: auto;
}

.section1 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}

.section1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../assets/images/candlestickchart.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1.5px); /* Apply blur here */
  z-index: -1;
}

.section2 {
  width: 100%;
  min-height: 100vh;
  background-color: gray;
  position: relative;
  transform-style: preserve-3d;
}

.section3 {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(25, 0, 95);
  position: relative;
  transform-style: preserve-3d;
}

.section4 {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(78, 0, 0);
  position: relative;
  transform-style: preserve-3d;
}

.home-header {
  top: 10%;
  left: 20%;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #00FFB3;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
              5px 5px 70px rgba(255, 255, 255, 0.5);
  transform: scale(1, 1.1) translate(-50%, 10%);
  z-index: 1; /* Ensure text is above the background */
  font-weight: 500;
}
