.new-market-ratio-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    width: 60%;
    padding: 5px;
  }
  
  .calculate-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calculate-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .result {
    margin-top: 20px;
    text-align: center;
  }
  