html, body {
  margin: 0;
  padding: 0;
  background-color: gray; /* Set the desired background color for the entire page */
  height: 100%;
}

.securities-container {
  background-color: gray; /* Ensure the container's background matches the page */
  padding: 0 15%; /* Align container padding with border */
  min-height: 100vh; /* Ensure the container covers the full height of the viewport */
  box-sizing: border-box; /* Include padding in the element's total width and height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure space between content and footer */
}

.search-container {
  margin-bottom: 20px;
  padding-top: 30px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(0, 255, 179);
  background-color: rgb(209, 209, 209);
  border-radius: 4px;
  font-size: 16px;
}

.securities-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; /* Center the table */
}

th, td {
  padding: 10px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid rgb(0, 255, 179);
  padding-left: 40px;
  max-width: 200px; /* Adjust max-width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.id-header {
  width: 5px;
}

th {
  padding-left: 60px; /* Adjust this value as needed */
  text-align: center;
}

tbody tr {
  transition: background-color 0.3s;
}

tbody tr:hover {
  background-color: #151213;
  cursor: pointer;
  color: rgb(0, 255, 179);
  transition: ease 0.5s;
}

tbody tr a {
  display: block;
  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove underline */
}

.back-button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: 20px; /* Add some space above the button */
  width: 100%;
  margin-bottom: 20px;
}

.back-button {
  background-color: rgb(0, 255, 179);
  color: #151213 !important;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  width: 100%; /* Make it the same width as the table */
  text-align: center; /* Center the text inside the button */
}

.back-button a {
  color: #151213 !important;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
