/* Layout */
.sd-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
  box-sizing: border-box;
}

.sd-sidebar {
  width: 22%;
  background: linear-gradient(135deg, #00796b, #004d40);
  padding: 25px;
  padding-top: 120px;
  box-sizing: border-box;
  color: white;
  font-family: Arial, sans-serif;
  border-right: 3px solid #00332c;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sd-sidebar-title {
  font-size: 1.3rem;
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 5px;
}

.sd-group-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sd-group-item {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  transition: 0.3s ease;
}

.sd-group-item:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.sd-selected-group {
  font-weight: bold;
  color: #004d40;
  background: rgba(0, 255, 179, 0.9);
}

/* Main Content */
.sd-main {
  width: 78%;
  padding: 20px;
  overflow-x: auto;
}

.sd-title {
  margin-top: 110px;
  color: #00796b;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.sd-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.sd-table th,
.sd-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
  background-color: transparent;
}

.sd-table-header {
  background-color: #00796b;
  font-weight: bold;
}

.sd-table-header th {
  color: white;
}

.sd-error {
  color: red;
  font-weight: bold;
}

td.positive {
  color: green !important;
  background-color: transparent !important;
}

td.negative {
  color: red !important;
  background-color: transparent !important;
}

.sd-table tr:hover,
.sd-table tr:hover td,
.sd-table tr td:hover {
  background-color: rgb(191, 228, 204) !important;
  transition: background-color 0.2s ease !important;
}
