<div class="container">
  <h2 class="stock-title">Stock histories</h2>
  <div class="card-container">
    <% @stocks.each do |stock| %>
      <ul class="cards">
        <h4 class="card-text"><%= stock.name %></h4>
      </ul>
    <% end %>
  </div>
</div>

<%# <% link_to "Gold histories", stock_history_path(@stocks), class: "btn btn-primary" %> %>
