<div class="container">
  <h2 class="stock-title">Stock histories</h2>
  <div class="card-container">
    <% @stocks.each do |stock| %>
      <ul class="cards">
        <%= link_to stock_histories_path("#{stock.id}") do %>
        <h3 class="card-text"><%= stock.name %></h3>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
