<div class="top-container">
  <h1 class="title">Perrinvest</h1>
  <em><p class="slogan">Stock prices, history and the market</p></em>

  <%= image_tag 'market.png', class: 'banner' %>
</div>

<section id="histories">
   <div class="container reveal">
     <div class="history-section">
       <h2 class="history-subtitle">Price Histories</h2>
     </div>
   </div>
 </section>

 <section id="blogs">
   <div class="container reveal">
     <div class="blog-section">
       <h2 class="blog-subtitle">Blogs</h2>
     </div>
   </div>
 </section>
