<div class="top-container">
  <h1 class="title">Perrinvest</h1>
  <p class="slogan">Stock prices, history and the market</p>

  <%= image_tag 'market.png', class: 'banner' %>
</div>

<section id="histories">
  <div class="container reveal">
    <div class="history-section">
      <h2 class="history-subtitle">Discover a world of price histories</h2>
    </div>
  </div>
</section>

<section id="blogs">
  <div class="container reveal">
    <div class="blog-section">
      <h2 class="blog-subtitle">Learn more with blog posts from investment insight and real life market movements</h2>
    </div>
  </div>
</section>
