<div class="top-container">
  <h1 class="title">Perrinvest</h1>
  <em><p class="slogan">Stock prices, history and the market</p></em>

  <%= image_tag 'market.png', class: 'banner' %>
  <div class="homepage-btns">
    <%= link_to "Blogs", blogs_path, class: 'btn btn-blog' %>
    <%= link_to "Price Histories", categories_path, class: 'btn btn-category' %>
  </div>
</div>
