<div class="top-container">
  <h1 class="title">Perrinvest</h1>
  <p class="slogan">Stock prices, history and the market</p>

  <%= image_tag 'market.png', class: 'banner' %>
</div>

<section id="histories">
  <div class="container reveal">
    <div class="history-section">
      <h2 class="history-subtitle">Discover a world of price histories</h2>
      <p class="history-intro">Discover commodoties from Gold to Uranium and Cryptocurrencies, stock exchanges and much more</p>
      <div data-controller="carousel" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blogs">
  <div class="container reveal">
    <div class="blog-section">
      <h2 class="blog-subtitle">Blogs</h2>
      <p class="blog-intro">Learn more with blog posts from investment insight and real life market movements</p>
    </div>
  </div>
</section>
