<h1 class="title">Perrinvest</h1>
<p class="slogan">Stock prices, history and the market</p>
<%= link_to  'Stocks', stocks_path, class: "button-home" %>
<%= image_tag 'stock.jpeg', class: 'banner' %>
