.navbar {
  background: linear-gradient(to bottom right, #13c4df, #007f93);
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  z-index: 1000;
}

.nav-link {
  color: white;
  text-align: right;
  font-family: 'Marcellus SC', serif;
  text-decoration: none;
  padding: 30px;
  font-size: 17px;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  text-align: right;
  font-family: 'Marcellus SC', serif;
  text-decoration: none;
  padding: 30px;
  font-size: 17px;
  text-decoration: underline;
  transition: 1s ease;
}

.navbar-nav {
  display: -webkit-inline-box;
  align-items: center;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  position: absolute;
  left: 980px;
  top: 1px;
  text-decoration: none;
  padding-top: 22px;
}
