.navbar {
  height: 60px;
  background: linear-gradient(to bottom right, #13c4df, #007f93);
}

.nav-link {
  color: white;
  text-align: right;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
  padding: 30px;
}

.navbar-nav {
  display: -webkit-inline-box;
  align-items: center;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  position: absolute;
  left: 920px;
  top: 1px;
  text-decoration: none;
  padding-top: 17px;
}
