// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  padding-left: 0;
}

.blog-container {
  display: table-caption;
  font-family: 'Abel', sans-serif;
  width: 100vw;
  color: #007f93;
  font-size: 17px;
}

.form-container {
  width: 606px;
  display: inherit;
  justify-content: right;
  position: relative;
  left: 400px;
}

#blog_title {
  font-family: 'Abel', sans-serif;
  margin-bottom: 4px;
  width: 598px;
}
#blog_subtitle {
  font-family: 'Abel', sans-serif;
  width: 598px;
  height: 40px;
}
#blog_content {
  font-family: 'Abel', sans-serif;
  width: 600px;
  height: 300px;
}
#blog_publisher {
  font-family: 'Abel', sans-serif;
  width: 598px;
}

.button-form {
  color: white;
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #007f93, #17e2ff);
  border: none;
  position: absolute;
  left: 232px;
}

.button-form:hover {
  color: white;
  background: linear-gradient(to bottom right, #17e2ff, #007f93);
  transition: ease 1s;
}

.new-blog-title {
  text-align: center;
  color: #007f93;
  font-family: 'Abel', sans-serif;
  padding-top: 20px;
}

.blogs-title {
  text-align: center;
  color: #007f93;
  font-family: 'Abel', sans-serif;
  padding-top: 20px;
  font-size: 30px;
}

.blog-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  justify-content: space-evenly;
  text-decoration: none;

}

.blog {
  border: solid 1px #007f93;
  margin: 10px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  color: #007f93 !important;
  height: 500px;
  overflow-y: hidden;
  background-color: white;
  box-shadow: 1px 2px #888888;
}

.blog-thumbnail {
  height: 250px;
  // box-shadow: 1px #888888;
}

.blog-card-title {
  text-align: center;
  border-bottom: 1px solid #007f93;
  border-top: 1px solid #007f93;
  padding: 5px;
  color: #007f93;
  text-decoration: none;

}

.blog-card-subtitle {
  padding: 5px;
  // height: 89px;
  color: rgb(42, 42, 42);
  overflow-y: hidden;
}

.blog-card-publisher {
  text-align: end;
  justify-content: flex-end;
  margin-right: 10px;
  color: black;
  font-weight: bold;
  z-index: 1000;
}

.blog-card-content {
  color: black;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 13px;
}

.show-blog-title {
  color: #007f93;
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  text-align: center;
}

.show-blog-subtitle {
  color: #007f93;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.show-blog-content {
  font-family: 'Abel', sans-serif;
  color: rgb(49, 49, 49);
  margin-top: 10px;
}

.show-blog-publisher {
  font-family: 'Abel', sans-serif;
  text-align: right;
}

.blog-show-container {
  // background-color: yellow;
  margin: 200px;
  margin-top: 50px;
}

hr {
  width: 50%;
  margin: auto;
}

.top-container {
  height: 100px;
}

// img {
//   height: 400px;
//   text-align: center;
//   vertical-align: middle;
// }

.blog-img {
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-subheading {
  color:black;
  font-family: 'Abel', sans-serif;
}

.button-container {
  position: relative;
  height: 80px;
  margin-top: 25px;
  align-items: center;
  margin-left: 250px;
}
.button {
  display: inline-block;
  margin-right: 100px;
}

.no-image {
  height: 250px;
  width: 320px;
}

.blog-img-thumbnail img {
  height: 250px;
  width: 320px;
  object-fit: fill;
}

.blog-box {
  border: 1px solid #007f93;
  padding: 10px;
  box-shadow: 1px 2px #888888;
}

#comment_body {
  display: flex;
  width: 1040px;
  height: 200px;
}

label {
  color: #007f93;
  font-family: 'Abel', sans-serif;
}

.comment-show {
  display: block;
}
.comment-box {
  display: flex;
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
  height: 50px;
}

.comment-times {
  text-align: right;
  width: 990px;
}

.comment-hr {
  width: 1000px;
}
