// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-container {
  background-color: #f7f7f7;
  height: 100%;
  /* width: 100%; */
  padding-left: 0;
  margin-top: 60px;
  width: 951px;
  margin-left: 489px;

}

.blog-container {
  display: table-caption;
  font-family: 'Marcellus SC', serif;
  width: 100vw;
  color: #267ABE;
  font-size: 17px;
}

.form-container {
  width: 606px;
  display: inherit;
  justify-content: right;
  position: relative;
  left: 400px;
}

#blog_title {
  font-family: 'Noto Serif', serif;
  margin-bottom: 4px;
  width: 598px;
}
#blog_subtitle {
  font-family: 'Noto Serif', serif;
  width: 598px;
  height: 40px;
}
#blog_content {
  font-family: 'Noto Serif', serif;
  width: 600px;
  height: 300px;
}

.button-form {
  color: white;
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #007f93, #17e2ff);
  border: none;
  position: absolute;
  left: 232px;
}

.button-form:hover {
  color: white;
  background: linear-gradient(to bottom right, #17e2ff, #007f93);
  transition: ease 1s;
}

.new-blog-title {
  text-align: center;
  color: #267ABE;
  font-family: 'Marcellus SC', serif;
  padding-top: 20px;
}

.blogs-title {
  text-align: center;
  color: #f7f7f7;
  font-family: 'Marcellus SC', serif;
  padding-top: 20px;
  font-size: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
  position: fixed;
}

.blog-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  justify-content: space-evenly;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
}

.blog {
  border: solid 1px #267ABE;
  margin: 10px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Marcellus SC', serif;
  color: #267ABE !important;
  height: 500px;
  overflow-y: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.blog-thumbnail {
  height: 250px;
  // box-shadow: 1px #888888;
}

.blog-card-title {
  text-align: center;
  border-bottom: 1px solid #267ABE;
  border-top: 1px solid #267ABE;
  padding: 5px;
  color: #267ABE;
  text-decoration: none;
  font-family: 'Noto Serif', serif;
}

.blog-card-subtitle {
  padding: 5px;
  // height: 89px;
  color: rgb(42, 42, 42);
  overflow-y: hidden;
  font-family: 'Noto Serif', serif;
}

.blog-card-content {
  color: black;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 13px;
  font-family: 'Noto Serif', serif;
}

.show-blog-title {
  color: #267ABE;
  font-family: 'Noto Serif', serif;
  font-size: 40px;
  text-align: center;
}

.show-blog-subtitle {
  color: #267ABE;
  font-family: 'Noto Serif', serif;
  text-align: center;
}

.show-blog-content {
  font-family: 'Noto Serif', serif;
  color: rgb(49, 49, 49);
  margin-top: 10px;
}

.blog-show-container {
  // background-color: yellow;
  margin: 200px;
  margin-top: 100px;
}

hr {
  width: 1000px;
  margin: 10px;
}

.top-container {
  height: 100px;
}

// img {
//   height: 400px;
//   text-align: center;
//   vertical-align: middle;
// }

.blog-img {
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-subheading {
  color:black;
  font-family: 'Abel', sans-serif;
}

.button-container {
  position: relative;
  height: 80px;
  margin-top: 25px;
  align-items: center;
  margin-left: 250px;
}
.button {
  display: inline-block;
  margin-right: 100px;
}

.no-image {
  height: 250px;
  width: 403px;
}

.blog-img-thumbnail img {
  height: 250px;
  width: 403px;
  object-fit: fill;
}

.blog-box {
  border: 1px solid #267ABE;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#comment_body {
  display: flex;
  width: 1040px;
  height: 200px;
}

label {
  color: #267ABE;
  font-family: 'Noto Serif', serif;
}

.comment-hr {
  width: 1000px;
  margin: 10px;
}

.new-blog-container {
  margin-top: 100px;
}

.london-img {
  height: 734px;
  position: absolute;
  left: 0;
  filter: blur(8px);
  -webkit-filter: blur(2px);
  position: fixed;
}

.img-container {
  height: 734px;
  position: absolute;
  left: 0;
  top: 0;
  width: 487px;
}
