.button-home {
  position: absolute;
  top: 195px;
  left: 45px;
  color: #267ABE;
  border: solid 1px #267ABE;
  padding: 6px;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
}

.button-blog {
  color: #f7f7f7;
  border: solid #f7f7f7;
  background-color: #267ABE;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-right: 10px;
  width: 175x !important;
  margin-top: 65px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-blog:hover {
  color: #267ABE;
  border: solid #267ABE;
  background-color: #f7f7f7;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-right: 10px;
  width: 175x !important;
  margin-top: 65px;
  transition: 0.5s ease;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}


.homepage-btns {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-blog {
  color: #267ABE;
  border: solid #267ABE;
  background-color: white;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-right: 10px;
  width: 175px;
  margin-top: 65px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-blog:hover {
  color: #267ABE;
  border: solid #267ABE;
  background-color: white;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-right: 10px;
  width: 1705x;
  margin-top: 65px;
  transition: 0.5s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn-category {
  color: #267ABE;
  border: solid #267ABE;
  background-color: white;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-left: 10px;
  width: 175px;
  margin-top: 65px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-category:hover {
  color: #267ABE;
  border: solid #267ABE;
  background-color: white;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-left: 10px;
  width: 175px;
  margin-top: 65px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 0.5s ease;
}

.post-btn {
  color: #267ABE;
  border: solid #267ABE;
  background-color: white;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-left: 10px;
  width: 175px;
  margin-top: 65px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post-btn:hover {
  color: #f7f7f7;
  border: solid #f7f7f7;
  background-color: #267ABE;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-right: 10px;
  width: 1705x;
  margin-top: 65px;
  transition: 0.5s ease;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
