.button-home {
  position: absolute;
  top: 195px;
  left: 45px;
  color: #007f93;
  border: solid 1px #007f93;
  padding: 6px;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
}

.button-blog {
  color: white;
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #007f93, #17e2ff);
  border: none;
  font-family: 'Abel', sans-serif;
}

.button-blog:hover {
  color: white;
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #17e2ff, #007f93);
  border: none;
  font-family: 'Abel', sans-serif;
}

.homepage-btns {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-blog {
  color: #174D7E;
  border: solid #174D7E;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-right: 10px;
  width: 175px;
  margin-top: 20px;
  transition: 0.5s ease;
}

.btn-blog:hover {
  color: #f7f7f7;
  border: solid #f7f7f7;
  background-color: #174D7E;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-right: 10px;
  width: 175px;
  margin-top: 20px;
  transition: 0.5 ease;
}

.btn-category {
  color: #174D7E;
  border: solid #174D7E;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-left: 10px;
  width: 175px;
  margin-top: 20px;
}

.btn-category:hover {
  color: #f7f7f7;
  border: solid #f7f7f7;
  background-color: #174D7E;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Marcellus SC', serif;
  border-radius: 5px;
  margin-left: 10px;
  width: 175px;
  margin-top: 20px;
  transition: 0.5 ease;
}
