.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.category {
  font-family: 'Abel', sans-serif;
  color: #007f93 !important;
  padding-bottom: 200px;
  font-size: 30px;
}

.category-description {
  font-family: 'Abel', sans-serif;
  color: #007f93 !important;
  font-size: 20px;
  font-style: italic;
}

.category-frontpage {
  height: 91vh;
}
.cat-title {
  font-family: 'Abel', sans-serif;
  color: #007f93;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  top: 350px;
  left: 170px;
}

.cat-subtitle {
  position: absolute;
  left: 170px;
  top: 400px;
  font-family: 'Abel', sans-serif;
  color: #007f93;
}

.bull-image {
  height: 674px;
  position: absolute;
  right: 0;
}
