// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment-hr {
  width: 1000px;
  margin: 10px;
}

.comment-body {
  font-family: 'Noto Serif', serif;
  color: rgb(91, 91, 91);
}

.comment-user {
  font-family: 'Noto Serif', serif;
}

.comment-times {
  font-family: 'Noto Serif', serif;
  text-align: right;
}

.comment-heading {
  font-family: 'Noto Serif', serif;
}
