// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

h1 {
  font-family: 'Abel', sans-serif;
  color: #267ABE;
  text-align: center;
  margin-top: 10px;
}

.top-container {
  height: 100vh;
  width: 100%;
  background-color: #f7f7f7;
}
