// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@400;500&family=Comfortaa&family=Cormorant+SC:wght@300&family=Press+Start+2P&family=Roboto+Mono&display=swap');
.banner {
  width: 100%;
  height: 500px;
  margin-top: 50px;
}

.title {
  position: absolute;
  color: #209ED8;
  margin-left: 40px;
  font-size: 80px;
  font-family: 'Marcellus SC', serif;
  font-weight: unset;
  margin-top: 75px;
}

.slogan {
  position: absolute;
  top: 165px;
  color: #174D7E;
  margin-left: 42px;
  font-family: 'Marcellus SC', serif;
  font-weight: unset;
  background-color: #f7f7f7;
}
