// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stock-title {
  text-align: center;
  font-family: 'Abel', sans-serif;
  color: #007f93;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stock-img-card {
  width: max-content;
  height: 21vw;
  object-fit: cover;
  text-decoration: none !important;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background-repeat: no-repeat;
}
