<div class="category-container">
  <div class="category-frontpage">
    <h1 class="cat-title">Categories</h1>
    <em><p class="cat-subtitle">Discover histories of markets, currencies and more</p></em>
    <%= image_tag 'bull.jpeg', class: 'bull-image' %>
    </div>
  </div>

  <div class="categories">
    <% @categories.each do |c| %>
      <%=  link_to category_path(c.id) do %>
      <%= c.name %>
      <em><%= c.description %></em>
      <% end %>
    <% end %>
  </div>
</div>
