<div class="cs-container">
  <h1><%= @category.name %></h1>
  <div class="stock-title-container">
    <% @stocks.each do |s| %>
      <div class="title-container">
        <div class="histories">
          <%= link_to stock_histories_path("#{s.id}") do %>
          <h2 class="stocks-title"><%= s.name %></h2>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
