<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Perrinvest</h1>
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <div id="root"></div>
    <form action="{{ url_for('main.securities') }}" method="get">
        <button type="submit">Go to Securities</button>
    </form>

    <form action="{{ url_for('main.market_ratios') }}" method="get">
        <button type="submit">Go to Market Ratios</button>
    </form>
</body>
</html>