<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Price History</title>
</head>
<body>
    <h1>Price history for {{ security[1] }}</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for record in price_history %}
            <tr>
                <td>{{ record[1] }}</td> 
                <td>{{ record[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>